extends ./layout.pug

block header
  title Clock

block links
  link(type='text/css', rel='stylesheet', media='all', href='assets/app-' + version + '.style.css')

block scripts
  script(src='assets/app-' + version + '.bundle.js')

