doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Clock
    link(type='text/css', rel='stylesheet', media='all', href='assets/common-0.0.1.style.css')
    link(type='text/css', rel='stylesheet', media='all', href='assets/dashboard-0.0.1.style.css')
  body
    #app
    script(src='assets/common-0.0.1.bundle.js')
    script(src='assets/dashboard-0.0.1.bundle.js')
