@import "base/typography-mappings";

h1 {
  font-size: $fs-h1;
  font-weight: $fw-bold;
}
h2 {
  font-size: $fs-h2;
  font-weight: $fw-bold;
}
h3 {
  font-size: $fs-h3;
  font-weight: $fw-light;
}
h4 {
  font-size: $fs-h4;
  font-weight: $fw-light;
}
h5 {
  font-size: $fs-h5;
  font-weight: $fw-light;
}
h6 {
  font-size: $fs-h6;
  font-weight: $fw-light;
}
