//IMPORTANT: NO CSS IN THIS FILE

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;


$fs-xsmall: 1rem;
$fs-small: 1.2rem;
$fs-medium: 1.4rem;
$fs-large: 1.6rem;
$fs-xlarge: 1.8rem;

// Body
$fs-body: 12px;

$fs-heading-xsmall: 2rem;
$fs-heading-small: 2.2rem;
$fs-heading-medium: 2.6rem;
$fs-heading-large: 3rem;
$fs-heading-xlarge: 3.6rem;
$fs-heading-massive: 10rem;

// Headings
$fs-h1: 4.0rem;
$fs-h2: 3.0rem;
$fs-h3: 2rem;
$fs-h4: 1.6rem;
$fs-h5: 1.4rem;
$fs-h6: 1.2rem;

// Buttons
$fs-btn: 1.2rem;

// Form Error
$fs-form-error: $fs-small;
$fw-form-error: $fw-bold;

// Letter Spacing
$l-spacing: .05em;
